@import "../../styles/base.scss";

.landing {
  margin-top: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__flex {
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 60%;
  }

  &__left {
    // border: 1px solid black;
    width: 50%;
    overflow: scroll;
  }

  &__right {
    // border: 1px solid black;
    // position: relative;
    // right: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  &__img {
    width: 200%;
  }
  &__down {
    height: 30px;
    position: absolute;
    bottom: 35px;
  }

  &__h1 {
    width: 325px;
    height: 57px;
    font-size: 48px;
    color: #000000;
  }

  .option {
    position: relative;
    top: 400px;
  }
  &__stage {
    font-family: bold;
    font-size: 30px;
  }
  &__buttonAll {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
  }
}

.bstn {
  transition: transform 0.2s;
}

.bstn:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.test {
  font-size: 2rem;
}