.slider {
  margin-top: 200px;
}

.heading {
  text-align: left;
  margin-left: 20px;
  font-size: 36px;
  line-height: 48px;
}

.topic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.topic-info {
  position: relative;
  right: 1000px;
  left: 100px;
  top: 20px;
  padding-right: 1000px;
}

.chart {
  margin-top: 16px;
  width: 1440px;
  height: 463px;
}

.video {
  position: relative;
  left: 500px;
  width: 473.9px;
  height: 269.3px;
}
