.slider {
  margin-top: 200px;
}

.heading {
  text-align: left;
  margin-left: 20px;
  font-size: 36px;
  line-height: 44px;
}

.topic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.topic-info {
  position: relative;
  right: 1000px;
  left: 100px;
  top: 20px;
  padding-right: 1000px;
}
