// @import "../../styles/base.scss";
.collapseWrapper {
  background: #2d3436;
  position: fixed;
  top: 4.5rem;
  left: 0;
  right: 0;
}

.ul {
  list-style-type: none;
  padding: 2rem 1rem 2rem 2rem;

  & li {
    transition: all 300ms linear 0s;
  }

  & a {
    font-size: 1.4rem;
    line-height: 2;
    color: #dfe6e9;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #fdcb6e;
      border-bottom: 1px solid #fdcb6e;
    }
  }
}
