@import "../../styles/base.scss";

.nav-container {
  max-width: 120rem;
  display: flex;
    padding: 0 2rem;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  border-bottom: 0.5px solid black;
}

.searchicon {
  width: 30px;
  height: 30px;
}
.nav-container > .navlink {
  position: relative;
  display: flex;

}

.burgerwrapper {
  margin: auto 0;

  @media (min-width: 769px) {
    display: none;
  }
}

.navlink a:hover::after {
  border-bottom: 1px solid white;
  padding-top: 30px;
}

.navlink > .navtitle {
  text-decoration: none;
  color: black;
  font-family: bold;

}
